@charset "utf-8";

:root {
    --app-light-bg: #ecebeb;
    --app-main-bg: #eaf2ed;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-color: #eaf2ed;
    font-family: "Nunito Sans", sans-serif;
}

main {
    min-height: 100dvh;
}
 
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/***    Header     ***/

.flex {
    display: flex;
}

header {
    background-color: #C6DBCF;
}

header, footer {
    height: 60px;
}

header div {
    width: 40%;
}

h1 {
    font-size: 18px;
    font-weight: 600px;
    line-height: 60px;
    text-transform: uppercase;
    color: #171717;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul li {
    display: inline;
    line-height: 60px;
    width: 60px;
}

nav ul li a {
    display: inline-block;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 600;
    color: #171717;
    text-decoration: none;
}

.contact-header {
  border: 2px solid #f6faf7;
  background-color: #f6faf7;
  border-radius: 8px;
  padding: 10px 5px; 
}

/***    Hero Banner    ***/

.hero-banner {
    position: relative;
    background-image: url(../img/gamer.jpg);
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***    Main   ***/

h3 {
    font-size: 50px;
    font-weight: 600;
}

.about-me {
    display: flex;
    width: 100%;
    height: 30rem;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.slideshow {
    width: 60%;
}

.slides {
    display: none;
}

.slideshow img {
    height: 25rem;
    width: 100%;
    border: solid 1px var(--app-main-bg);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.4);
}

.info {
    width: 60%;
    height: 30rem;
    font-size: 22px;
    text-align: left;
    padding: 0 50px;
    margin-top: 60px;
    letter-spacing: 1px;
}

.info p {
    margin-top: 15px;
}


.contact {
    width: 100%;
    height: 30rem;
    margin-top: 100px;
    padding-top: 40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.2);
    border-radius: 4px;
    background-color: #deebe3;
    text-align: center;
}

.contact-icons {
    display: flex;
    margin-top: 80px;
    font-size: 100px;
    justify-content: space-evenly;
}

section h3:last-child {
    font-size: 50px;
    font-weight: 600;
}

a[href^="mailto:"] {
    line-height: 1;
}

.fa-solid.fa-envelope {
    color: #0956CA;
}

.fa-brands.fa-facebook {
    color: #1877F2;
}

/***    Footer     ***/

footer {
    margin-top: 40px;
    line-height: 60px;
    padding: 0 15px;
    background-color: #deebe3;
    overflow: hidden;
}

footer div {
    width: 60%;
}

.icons i {
    display: inline;
    line-height: 60px;
    font-size: 30px;
    padding: 0 15px;
}

footer div p {
    display: inline-block;
    font-size: 20px;
    line-height: 60px;
    width: 40%;
    text-align: right;
}

/***    Hover   ***/
.contact-header:hover {
    cursor: pointer;
    border: 2px solid #c6dcce;
    background-color: #c6dcce;
    color: #c6dcce;
    transition: 0.3s ease-in-out;
}

.contact-icons:hover, .icons:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out
}